{% extends "layout.html" %}

{% block title %}Account Info{% endblock %}

{% block content %}

<h1>My Message in a Bottle -- Account Infos</h1>

{% if current_user.is_authenticated %}
First name : {{ current_user.firstname }} <br>
Last name : {{current_user.lastname}} <br>
e-mail : {{current_user.email}} <br>
birth date : {{current_user.date_of_birth.strftime('%d/%m/%Y')}} <br>
<button onclick="location.href = '/';" id="home_button" class="float-left submit-button">Home</button>
<button onclick="location.href = '/account_info/content_filter';" id="bad_filter_button" class="float-left submit-button">Activate/disactivate Bad words filter</button>
<button onclick="location.href = '/unregister';" id="unregister_button"
  class="float-left submit-button">Unregister</button>


{% else %}
<p>Hi Anonymous, what are you searching for???</p>
{% endif %}

{% endblock %}
