<html>
  <body>
    <h1>BottleBoxes</h1>
    <ul>
        <li>
            <button onclick="location.href = '/bottlebox?value=Pending';" id="bottlebox_button" class="float-left submit-button">Pending Bottles</button> 
        </li>
        <li>
            <button onclick="location.href = '/bottlebox?value=Received';" id="bottlebox_button" class="float-left submit-button">Received Bottles</button> 
        </li>
        <li>
            <button onclick="location.href = '/bottlebox?value=Delivered';" id="bottlebox_button" class="float-left submit-button">Delivered Bottles</button> 
        </li>
    </ul>
    <button onclick="location.href = '/';" id="homeButton" class="float-left submit-button" >Home</button>
  </body>
</html>