{% extends "layout.html" %}

{% block title %}TODO AGGIUSTARE{% endblock %}

{% block content %}

<h1>{{ label }} Bottlebox</h1>

{% if not messages %}

<p>You don't have any messages in draft yet!</p>

{% else %}

<ul>
  {% for msg in messages: %}
  <li>

    <p>{% for user in users: %} {% if user.id == msg.sender_id %}  From: {{user.email}} {% endif %} {% endfor %}</p>

    <p>{% for recipient in msg.recipients: %} {% for user in users: %} {% if user.id == recipient.recipient_id %}  to: {{user.email}} {% endif %} {% endfor %} {% endfor %}</p>

    <p>Deliver time: {{msg.deliver_time}}</p>

    <p>{{msg.content}}</p>
    <p> <button onclick="location.href = '/message_pending/{{msg.id}}'" id="homeButton" class="float-left submit-button" >Open</button></p>

  </li>
  
  {% endfor %}
</ul>
{% endif %}
<button onclick="location.href = '/bottlebox';" id="homeButton" class="float-left submit-button" >Back</button>

{% endblock %}