{% extends "layout.html" %}

{% block title %}TODO AGGIUSTARE{% endblock %}

{% block content %}

<h1>{{ label }} Bottlebox</h1>
<ul>
  {% for msg in messages: %}
  <li>
    
    <p>{% for user in users: %} {% if user.id == msg.sender_id %}  From: {{user.email}} {% endif %} {% endfor %}</p>
    
    <p>{% for recipient in msg.recipients: %} {% for user in users: %} {% if user.id == recipient.recipient_id %}  to: {{user.email}} {% endif %} {% endfor %} {% endfor %}</p>
    
    <p>Deliver time: {{msg.deliver_time}}</p>
    
    <p>{{msg.content}}</p>

    {% if label == 'Pending' %}
    <p> <button onclick="location.href = '/message/pending/{{msg.id}}'" id="openButton" class="float-left submit-button" >Open</button></p>
    
    {% elif label == 'Received' %}
    <p> <button onclick="location.href = '/message/received/{{msg.id}}'" id="openButton" class="float-left submit-button" >Open</button></p>
    
    {% elif label == 'Delivered' %}
    <p> <button onclick="location.href = '/message/delivered/{{msg.id}}'" id="openButton" class="float-left submit-button" >Open</button></p>

    {% endif %}

    </li>
  {% endfor %}
</ul>
<button onclick="location.href = '/bottlebox';" id="backButton" class="float-left submit-button" >Back</button>

{% endblock %}
