<html>
 <body>
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <dl>
     {% for field in form.display %}
     <dt>{{ form[field].label }}</dt>
     <dd>{{ form[field]() }}
       {% if form[field].errors %}
          {% for e in form[field].errors %}
           <li class="help-block" style="color: red;">{{ e }}</li>
          {% endfor %}
     </dd>
       {% endif %}
     {% endfor %}
    </dl>
    <p>
    <input type=submit value="Submit">
  </form>
  <button onclick="location.href = '/login';" id="login_button" class="float-left submit-button">Login</button>

 </body>
</html>

