{% extends "layout.html" %}

{% block title %}Message details{% endblock %}

{% block content %}

<h1>Message from {{sender_name}}</h1>
<ul>
  <li>
    <p>Deliver time: {{message.deliver_time}}</p>
<!--cdjnvfln f-->
    <p>{{message.content}}</p>

    {% if message.image != '' %}
      <p><img src = "{{url_for('messages.send_file', filename = message.image)}}" width="480" height="270"></p>
    {% endif %}

  </li>

</ul>
<button onclick="location.href = '/bottlebox/delivered';" id="backButton" class="float-left submit-button" >Back</button>
  
{% endblock %}
