<!-- 
  davide: questa pagina html non è più 
  utilizzata ed è stata sostituita con pending/received/delivered_detail.html
  per gestire meglio il tasto back
-->

{% extends "layout.html" %}

{% block title %}Message details{% endblock %}

{% block content %}

<h1>Message from {{sender_name}}</h1>
<ul>
  <li>
    <p>Deliver time: {{message.deliver_time}}</p>
<!--cdjnvfln f-->
    <p>{{message.content}}</p>
  </li>

</ul>
<button onclick="location.href = '/bottlebox';" id="backButton" class="float-left submit-button" >Home</button>
  
{% endblock %}
