{% extends "layout.html" %}

{% block title %}Message details{% endblock %}

{% block content %}
{% if label == 'received' %}
<h1>Message from</h1>
<h5>{{sender_name}}</h5>
{% else %}
<h1>Message to</h1>
<h5>{% for user in recipients: %} {{user[0].firstname}} {{user[0].lastname}} 
    {% if user[1] == False %}
    <form action="/block" method="POST">
      {{ blockForm.hidden_tag() }}
      <input type="submit" value="Block user">
    </form>
    {% endif %}
  {% endfor %}
</h5>

{% endif %}
<ul>
  <li>
    <p>Deliver time: {{message.deliver_time}}</p>
    <p>{{message.content}}</p>
  </li>
    
</ul>
{% if label == 'received' %}

  <button onclick="location.href = '/new_message?msg_id={{message.id}}';" id="forwardButton" class="float-left submit-button" >Forward</button>
  {% if blocked == False %} <!-- va messo fuori -->
  <button onclick="location.href = '/new_message?single_recipient={{sender_email}}';" id="replyButton" class="float-left submit-button">Reply</button>
  <form action="/block" method="POST">
    {{ blockForm.hidden_tag() }}
    <input type="submit" value="Block user">
  </form>
  {% endif %}

  <form action="/report" method="POST">
    {{ reportForm.hidden_tag() }}
    <input type="submit" value="Report this sender">
  </form>

  <form action="/hide" method="POST">
    {{ hideForm.hidden_tag() }}
    <input type="submit" value="Hide this message">
  </form>

  
{% endif %} 


<button onclick="location.href = '/bottlebox?value=Received';" id="backButton" class="float-left submit-button" >Home</button>
 
{% endblock %}
