{% extends "layout.html" %}

{% block title %}Message details{% endblock %}

{% block content %}

{% with msg = get_flashed_messages() %}
  {% if msg %}
      <p>{{ msg[0] }}</p>
  {% endif %}
{% endwith %}

{% if label == 'received' %}
<h1>Message from</h1>
<h5>{{sender_name}}</h5>
{% else %}
<h1>Message to</h1>
<h5>
  {% for user in recipients: %}
    {{user[0].firstname}} {{user[0].lastname}} 
  {% endfor %}
</h5>

{% endif %}
<ul>
  <li>
    <p>Deliver time: {{message.deliver_time}}</p>
    <p>{{message.content}}</p>

    {% if message.image != '' %}
      <p><img src = "{{url_for('messages._show_attachment', msg_id = message.id, filename = message.image)}}" width="480" height="270"></p>
    {% endif %}
  </li>
    
</ul>
{% if label == 'received' %}

  <button onclick="location.href = '/messages/new?msg_id={{message.id}}';" id="forwardButton" class="float-left submit-button" >Forward</button>
  {% if blocked == False %} <!-- va messo fuori -->
  <button onclick="location.href = '/messages/new?single_recipient={{sender_email}}';" id="replyButton" class="float-left submit-button">Reply</button>
  {% endif %}

  <form action="/report" method="POST">
    {{ reportForm.hidden_tag() }}
    <input type="submit" value="Report this sender">
  </form>

  <form action="/hide" method="POST">
    {{ hideForm.hidden_tag() }}
    <input type="submit" value="Delete">
  </form>

  
{% endif %} 

{% if label == 'pending' %}
  <button onclick="location.href = '/messages/{{message.id}}/remove';" id="deleteMessage" class="float-left submit-button" >Delete message</button>
{% endif %} 


<button onclick="location.href = '/bottlebox?value=Received';" id="backButton" class="float-left submit-button" >Home</button>
 
{% endblock %}
