{% extends "layout.html" %}
{% from "macros.html" import render_form_field %}

{% block title %}Modify password{% endblock %}

{% block content %}

<main class="form-register text-center">
  <form action="" method="POST">

    {{ form.hidden_tag() }}
    {% with msg = get_flashed_messages() %}
      {% if msg %}
          <p>{{ msg[0] }}</p>
      {% endif %}

    {% endwith %}

    <img class="mb-4" src="TODO LOGO" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Modify your password</h1>

    {# print errors, if occours #}
    {% for field in form.display %}
      {% if form[field].errors %}
        {% for error in form[field].errors %}
          <div class="alert alert-danger" role="alert">
            {{ error }}
          </div>
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for field in form.display %}
        {{ render_form_field(form[field], class="form-control", placeholder="nothing") }}
    {% endfor %}

    <button class="w-100 btn btn-lg btn-warning" type="submit">Modify data</button>

    <p class="mt-5 mb-3 text-muted">© 2021, ASE - Squad 4</p>
  </form>
</main>

{% endblock %}