{% extends "layout.html" %}

{% block title %}Recipient list{% endblock %}

{% block content %}

  <h1>Recipients List</h1>
    <ul>
      {% for user in users: %}
      <li>
      {{user.firstname}} {{user.lastname}} {{user.email}}  
      <button onclick="location.href = '/new_message?single_recipient={{user.email}}';" id="writeToButton" class="float-left submit-button">Write to</button> 
      <form action="/block" method="POST">
        {{ blockForm.hidden_tag() }}
        <input type="submit" value="Block user">
      </form>
      </li>
      {% endfor %}
    </ul>
    <button onclick="location.href = '/';" id="homeButton" class="float-left submit-button" >Home</button>
{% endblock %}